@import url('https://fonts.googleapis.com/css?family=Barrio');
@import url('https://fonts.googleapis.com/css?family=Lato');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	}
body {
    background: white;
    background-size: cover;
    color: black;
    font-family: 'Lato', sans-serif;
    padding: 50px;
    line-height: 200%
}
nav {
	width: 50%;
	float: right;
}
nav a {
	display: inline-block;
	margin-left: 10px;
	border-left: 1px solid #000;
}
nav a:hover {color: #ffdd00;}
h1 {
	font-family: 'Barrio', cursive;
	font-size: 36px;
	text-align: left;
	line-height: 200%
}
img {
	width: 100%;
	max-width: 100%;
	display: block;
}
#logo {
	width: 50%;
	max-width: 300px;
	float: left;
}
p {
	font-size: 14px;
	line-height: 150%;
	padding: 10px 10px 10px 0px;
}
ul {
	font-size: 20px;
	text-align: left;
	list-style-type: none;
}
a {
	color: black;
	font-size: 20px;
	text-align: left;
}
.pad-left-right {
	padding-left: 10px;
	padding-right: 10px;
}
.thumbnail {
	display: block;
	width: 25%;
	float: left;
	padding: 10px;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}