@import url('https://fonts.googleapis.com/css?family=Barrio');
@import url('https://fonts.googleapis.com/css?family=Lato');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	}
body {
    background: white;
    background-size: cover;
    color: black;
    font-family: 'Lato', sans-serif;
    padding: 50px;
    line-height: 200%
}
h1 {
	font-family: 'Barrio', cursive;
	font-size: 36px;
	text-align: left;
	line-height: 200%
}
p {
	font-size: 14px;
	line-height: 150%;
	padding: 10px 10px 10px 0px;
	max-width: 450px;
}
ul {
	font-size: 20px;
	text-align: left;
	list-style-type: none;
}
a {
	color: black;
	font-size: 20px;
	text-align: left;
}

header {
    background-color: #FFED74;
}
nav {
    background-color: #E8C66A;
}
main {
    background-color: #FFC675;
}
section {
    background-color: #E89C6C;
}